@page "/renderfrag"


<div style="width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;">


</div>

<iframe src="https://zidatech.freshdesk.com/support/home"
        style="width: 100%; height: 90%; border: none;  position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0;
    right: -1px;
    overflow-y: scroll;"
        >
</iframe>

@code {
    public RenderFragment WebsiteContent { get; set; }

    protected override void OnInitialized()
    {
        WebsiteContent = (__builder) =>
        {
            <text>
                <iframe src="https://zidatech.freshdesk.com/support/home"
                        style="width: 100%; height: 600px; border: 1px solid #ccc;"
                        title="Embedded Support Website">
                </iframe>
            </text>
        };
    }
}